$back-ground-color: #5b74d5;
@mixin theme() {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
}


header.header {
  height: 400px;
  width: 100%;
  background-color: $back-ground-color;
  color: #FFFFFF;
  @include theme;
  /*position:;*/ /*Change between fixed and relative to scroll lock/unlock*/ 
  /*Removed it to accomplish stretch activity "Add a Second Toggle Button"*/
  top: 120px; 
  background-image: url(../images/clean-gray-paper.png); 
  div p {
    font-size: 36px;
  }
}


 /* ------------------- DESKTOP SCREEN SIZES ------------------- */

 @media (min-width: 1024px) {
  header.header {
    margin: 50px 50px 50px 50px;
    width: 40%;
    position: fixed;
  }
}