header {
  height: 400px;
  width: 100%;
  background-color: #5b74d5;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  position: fixed; /*Change between fixed and relative to scroll lock/unlock*/
  top: 120px;
  align-items: center;
  flex-direction: column; /*Name below avatar*/
  background-image: url(../images/tileable-wood-colored.png);
}

