article.tweet {
  border-style: solid;
  border-width: thick;
  color: #545149;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 20px;
}

article.tweet:hover {
  box-shadow: 5px 10px;
}

article.tweet header {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}

article.tweet header img {
  height: 2em;
  margin: 15px
}

article.tweet header h4 {
  min-width: 20%;
}

article.tweet header p { /*Suggested by Ian for the above problem. Same solution as (nav.css line 18)*/ 
  margin-left: auto;
}

article.tweet p {
  overflow-wrap: break-word; /*Long tweets stay within the limits*/
}

article.tweet footer {
  border-top-style: solid;
  border-width: thick;
  display: flex;
  justify-content: space-between;
 }

 article.tweet footer time {
  display: flex;
  align-items: center;
 }

 article.tweet footer h4 i:hover {
  color: rgb(212, 178, 23);
 }

 .round-button {
  width: 100%;
  font-size: 24px;
  color: white;
  background-color: red;
  border: none;
  border-radius: 50%;
  height: 75px;
  width: 75px;
  cursor: pointer;
  position: fixed;
  right: 50px;
  bottom: 50px
 }
